<div class="container-fullwidth">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-muted" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/dashboard/dashHome">Home</a>
                <a class="nav-link" href="/dashboard/guide">Guide</a>
                <a class="nav-link" href="/dashboard/support">Support</a>
                <a class="nav-link" id="mainPage" href="/">Main Page</a>
            </div>

        </div>
        </div>
    </nav>
</div>