<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" id="navbarContent">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand mt-2 mt-lg-0 pl-3" href="/">
      <img src="../assets/FloraView_logo.png" alt="" width="51" height="34" />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/guide">Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/support">Support</a>
        </li>
      </ul>
    </div>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-user"></i> Profile </a>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">My account</a>
        <a class="dropdown-item" href="/logout">Log out</a>
      </ul>
    </li>
  </div>
</nav>