<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src='../assets/FloraView_logo.png' alt="" width="102" height="68">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-muted" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/product">Product</a>
                <a class="nav-link" href="/useCases">Use Cases</a>
                <a class="nav-link" href="/company">Company</a>
                <a class="nav-link" href="/pricing">Pricing</a>
            </div>

        </div>
        <div class="d-flex justify-content-end">
            <a href="/signIn" class="btn btn-outline-dark" role="button">Sign in</a>
        </div>
        </div>
    </nav>
</div>