<% layout('layouts/dashboardBoilerplate') %> 
<link rel="stylesheet" href="/stylesheets/dashboardHome.css">
<script src="/javascripts/dashboard.js"></script>

<section class="container-fluid px-0" id="mainContent">
    <div class="row no-gutters">
        <div class="col-12 border-bottom px-0 pb-2" id="buttonRow">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark">Classroom 1</button>
                <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Classroom 1</a>
                    <a class="dropdown-item" href="#">Classroom 2</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">New Classroom</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-6 px-0 pt-4">
            <h1>Start by adding a Hub</h1>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-6 px-0 pt-2">
            <button class="btn" id="addHub">Add a Hub</button>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row no-gutters">
        <div class="col-6" id="graphs">
            <img src="../assets/graphs.png" alt="">
        </div>
    </div>
</section>

