<% layout('layouts/dashboardBoilerplate') %> 
<link rel="stylesheet" href="/stylesheets/dashboardHome.css">
<script src="/javascripts/dashboard.js"></script>

<section class="container-fluid px-0" id="mainContent">
    <div class="row no-gutters">
        <div class="col-12 border-bottom px-0 pb-2" id="buttonRow">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark">Classroom 1</button>
                <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Classroom 1</a>
                    <a class="dropdown-item" href="#">Classroom 2</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">New Classroom</a>
                </div>
            </div>
        </div>
    </div>

    <section id="startAddHub">
        <div class="row no-gutters">
            <div class="col-6 px-0 pt-4">
                <h1>Start by adding a Hub</h1>
            </div>
        </div>
    
        <div class="row no-gutters">
            <div class="col-6 px-0 pt-2">
                <button class="btn buttonClr" data-toggle="modal" data-target="#addHubModal">Add a Hub</button>
            </div>
        </div>
    </section>

    <section id="displayHubList" class="hidden">
        <div class="row no-gutters">
            <div class="col px-0 pt-4">
                <h3>Hubs: 
                    <button class="btn buttonClr" id="firstHub">B1</button>
                </h3>
            </div>
            <div class="col-auto px-0 pt-4">
                <button class="btn btn-outline-dark" data-toggle="modal" data-target="#addHubModal">Add another Hub</button>
            </div>
        </div>

        <div class="row no-gutters" id="createGroupButton">
            <div class="col-6 px-0 pt-4">
                <button class="btn btn-outline-dark" data-toggle="modal" data-target="#createGroupModal">Create a student group</button>
            </div>
        </div>
    </section>

    <section id="displayGroups_Nodes" class="hidden">
        <div class="row no-gutters">
            <div class="col px-0 pt-4">
                <h3 id="groupList">Groups: </h3>
            </div>
            <div class="col-auto px-0 pt-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#createGroupModal">Create another group</button>
                    <button type="button" class="btn btn-outline-dark">Edit group</button>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col px-0 pt-4">
                <h3 id="nodeList">Nodes: </h3>
            </div>
        </div>
    </section>

    <div class="row no-gutters">
      <div class="col-6 px-0" id="graphs">
          <img src="../assets/graphs.png" alt="">
      </div>
    </div>
</section>

<div class="modal" tabindex="-1" role="dialog" id="addHubModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select the Hub you wish to connect</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="FloraView Hub S-5468 ">
                <label class="form-check-label" for="flexRadioDefault1">
                  FloraView Hub S-5468 
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="FloraView Hub S-7153">
                <label class="form-check-label" for="flexRadioDefault2">
                  FloraView Hub S-7153
                </label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="hubConnectButton" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#enterWifiModal">Connect</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="enterWifiModal" role="diaglog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="wifiModal">Enter Wifi credentials for %>  </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Wifi Network</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter network name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                </form>
            </div>
            <div class="modal-footer">
              <div class="spinner-border hidden" role="status" id="wifiSpinner">
                <span class="sr-only"></span>
              </div>
              <a id="submitWifiButton" class="btn btn-primary">Submit</a>
              <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>


  <div class="modal" tabindex="-1" role="dialog" id="createGroupModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-4 col-form-label">Enter group name:</label>
                    <div class="col-8">
                      <input type="email" class="form-control" id="inputGroup" placeholder="Group name">
                    </div>
                  </div>
                  <label for="inputEmail3" class="col-4 col-form-label">Select nodes to add:</label>
                  <section id="nodeListForm"></section>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="submitGroupButton" class="btn btn-primary" data-dismiss="modal">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
