<% layout('layouts/dashboardBoilerplate') %> 
<link rel="stylesheet" href="/stylesheets/dashboardHome.css">
<script src="/javascripts/dashboard.js"></script>

<div class="container">
    <div class="row">
        <div class="col 24">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark">Classroom 1</button>
                <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Classroom 1</a>
                    <a class="dropdown-item" href="#">Classroom 2</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">New Classroom</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col 13">
            <h1>Dashboard</h1>
        </div>
    </div>
</div>