<% layout('layouts/dashboardBoilerplate') %>
<link rel="stylesheet" href="/stylesheets/dashboardHome.css" />
<section class="container-fluid px-0" id="mainContent">
    <div class="row no-gutters">
        <div class="col-12 border-bottom px-0 pb-2">
            <h1>Guide</h1>         
        </div>
      </div>
</section>
