<% layout('layouts/dashboardBoilerplate') %>
<link rel="stylesheet" href="/stylesheets/dashboardHome.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>

<section class="container-fluid px-0" id="mainContent">
  <div class="alert alert-danger alert-dismissible fade show removed" role="alert" id="reconnectSerial">
    Please unplug and plug the Hub back in and try pairing again
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show removed" role="alert" id="closeSerialMonitor">
    Please make sure that every serial monitor window is closed and then unplug and plug the Hub back in and try pairing again
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="row no-gutters">
    <div class="col-12 border-bottom px-0 pb-2" id="buttonRow">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-dark">Classroom 1</button>
        <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only"></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Classroom 1</a>
          <a class="dropdown-item" href="#">Classroom 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New Classroom</a>
        </div>
      </div>
    </div>
  </div>

  <section id="startAddHub">
    <div class="row no-gutters">
      <div class="col-md-6 col-sm-12 px-0 pt-4">
        <h1>Start by connecting the Hub to your device and then pressing 'Pair Hub' below</h1>
        <div>
          <button class="btn btn-outline-dark mt-2" id="serialConnect">Pair Hub</button>
        </div>
      </div>
      <div class="col-md-4 col-8 mx-auto px-0 pt-4">
        <img src="../assets/usbConnect.png" alt="" id="usbConnectImage" />
      </div>
    </div>
  </section>

  <section id="displayHubList" class="removed">
    <div class="row no-gutters">
      <div class="col px-0 pt-4">
        <h3>
          Hubs:
          <button class="btn hubButton blackBorder" id="firstHub">B1</button>
        </h3>
      </div>
      <div class="col-auto px-0 pt-4">
        <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#addHubModal">Add another Hub</button>
      </div>
    </div>
  </section>

  <section id="displayPairCode" class="removed">
    <div class="row no-gutters">
      <div class="col px-0 pt-4">
        <h3>
          Pairing Code:
          <button class="btn hubButton blackBorder" id="pairCode">B1</button>
        </h3>
      </div>
    </div>
  </section>

  <section id="displayPairInstructions" class="removed">
    <div class="row no-gutters">
      <div class="col-12 px-0 pt-4">
        <h3>Now, create a classroom password. You will provide the pairing code and the password to your students in order for them to join your classroom:</h3>
      </div>
      <div class="col-2 px-0 pt-2">
        <form class="validated-form" validate>
          <div class="input-group">
            <input type="text" class="form-control" name="password" placeholder="Classroom password" id="inputClassroomPassword" required>
            <button id="submitClassroomPassword" class="btn btn-outline-dark">Submit</button>
          </div> 
        </form>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 px-0 pt-5">
      <div id="reportrange" class="selectbox pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc"><i class="fa fa-calendar"></i>&nbsp; <span></span> <i class="fa"></i></div>
    </div>
    <div class="text-center col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto px-0 pt-5 hidden" id="allGraphButtons">
      <button class="btn blackBorder shadow-none" id="temperatureButton">Temperature</button>
      <button class="btn blackBorder shadow-none mx-1" id="pHButton">pH</button>
      <button class="btn blackBorder shadow-none mx-1" id="lightButton">Light</button>
      <button class="btn blackBorder shadow-none mx-1" id="moistureButton">Moisture</button>
    </div>
    <div class="text-end col-xl-3 col-lg-2 col-md-2 col-sm-6 col-6 px-0 pt-5">  
      <a href="#" class="downloadData hidden">
        <button type="button" class="btn btn-outline-dark">Export to Excel</button>
      </a>
    </div>
  </div>

  <section id="individualGraphs">
    <div class="row no-gutters">
      <div class="col-xl-6 col-12 px-0 pt-4">
        <canvas id="temperatureChart"></canvas>
      </div>
      <div class="col-xl-6 col-12 px-0 pt-4">
        <canvas id="phChart"></canvas>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-xl-6 col-12 px-0 pt-5">
        <canvas id="lightChart"></canvas>
      </div>
      <div class="col-xl-6 col-12 px-0 pt-5">
        <canvas id="moistureChart"></canvas>
      </div>
    </div>
  </section>

  <section id="allGraphs"></section>
</section>

<div class="modal fade" id="enterWifiModal" role="diaglog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter WiFi credentials for the Hub</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>It is the WiFi network that you want the Hub to be connected to</p>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">WiFi Network</label>
            <input type="email" class="form-control" id="inputNetworkName" aria-describedby="emailHelp" placeholder="Enter network name" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="inputNetworkPassword" placeholder="Password" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="spinner-border hidden" role="status" id="wifiSpinner">
          <span class="sr-only"></span>
        </div>
        <a id="submitWifiButton" class="btn btn-primary">Submit</a>
        <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/individualNodeGraphs.js"></script>
<script src="/javascripts/allNodeGraphs.js"></script>
<script src="/javascripts/setup.js"></script>
<script src="/javascripts/calendar.js"></script>
<script src="/javascripts/serial.js"></script>
