<% layout('layouts/dashboardBoilerplate') %>
<link rel="stylesheet" href="/stylesheets/dashboardHome.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>

<section class="container-fluid px-0" id="mainContent">
  <% if (groups.length === 0) { %> 
    <div class="row no-gutters">
      <div class="col px-0 pt-4">
        <h3>Please wait for your teacher to add you to a group</h3>
      </div>
    </div>
  <% } %> 

  <div class="row no-gutters">
    <div class="col px-0 pt-4">
      <h3>
        Hub:
        <button class="btn hubButton blackBorder" id="firstHub"><%= hubMacAddress %></button>
      </h3>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col px-0 pt-4">
      <h3 id="groupList">Groups:
        <% for (const group of groups) { %> 
          <button class="btn blackBorder shadow-none mx-1 custom" id=<%= group %>><%= group %> </button>
        <% } %>
      </h3>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col px-0 pt-4">
      <h3 id="nodeList">Nodes:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 px-0 pt-5">
      <div id="reportrange" class="selectbox pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc"><i class="fa fa-calendar"></i>&nbsp; <span></span> <i class="fa"></i></div>
    </div>
    <div class="text-center col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto px-0 pt-5 hidden" id="allGraphButtons">
      <button class="btn blackBorder shadow-none" id="temperatureButton" name="0">Temperature</button>
      <button class="btn blackBorder shadow-none mx-1" id="pHButton" name="1">pH</button>
      <button class="btn blackBorder shadow-none mx-1" id="lightButton" name="2">Light</button>
      <button class="btn blackBorder shadow-none mx-1" id="moistureButton" name="3">Moisture</button>
    </div>
    <div class="text-end col-xl-3 col-lg-2 col-md-2 col-sm-6 col-6 px-0 pt-5">  
      <a href="#" class="downloadData">
        <button type="button" class="btn btn-outline-dark">Export to Excel</button>
      </a>
    </div>
  </div>

  <section id="individualGraphs">
    <div class="row no-gutters">
      <div class="col-xl-6 col-12 px-0 pt-4">
        <canvas id="temperatureChart"></canvas>
      </div>
      <div class="col-xl-6 col-12 px-0 pt-4">
        <canvas id="phChart"></canvas>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-xl-6 col-12 px-0 pt-5">
        <canvas id="lightChart"></canvas>
      </div>
      <div class="col-xl-6 col-12 px-0 pt-5">
        <canvas id="moistureChart"></canvas>
      </div>
    </div>
  </section>

  <section id="allGraphs"></section>
</section>

<script src="/javascripts/individualNodeGraphs.js"></script>
<script src="/javascripts/allNodeGraphs.js"></script>
<script src="/javascripts/student.js"></script>
<script src="/javascripts/calendar.js"></script>
